<h1>Editing Def Integral Computation</h1>

<%= render 'form', def_integral_computation: @def_integral_computation %>

<%= link_to 'Show', @def_integral_computation %> |
<%= link_to 'Back', def_integral_computations_path %>
